<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TmTracker.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/sidebars.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    @await RenderSectionAsync("css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <img src="~/LoginFile/images/bg-01.jpg"
                 alt="mdo" width="100" height="100" class="rounded-circle">
            <a class="navbar-brand ml-2 font-weight-bold" style="min-height: 70px; min-width: 120px;" asp-area="" asp-controller="Home" translate="no" asp-action="Index">TmTracker<br translate="no" />Time control</a>
            <button class="navbar-toggler" style="height: 70px; width: 120px;" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarCollapse">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Project" asp-action="GetProjects">Проекты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Project" asp-action="GetProjectsIsFav">Избранные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-white">@User.Identity.Name</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div style=" display: flex; flex-wrap: nowrap; margin-top:-1px; height: 100vh; height: -webkit-fill-available; @*overflow-x: auto;*@ overflow-y: hidden;">
        <div id="sidebars" class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
            <ul class="sidebar nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a id="record" asp-controller="Record" asp-action="ShowRecord" asp-route-id="@ViewBag.projectId" asp-route-nameProject="@ViewBag.nameProject" class="sidebaractive nav-link py-3 border-bottom" aria-current="page" style="cursor:pointer;" title="Домашняя" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        <svg class="adawae" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24" /><path d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8 c1.57,0,3.04,0.46,4.28,1.25l1.45-1.45C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12s4.48,10,10,10c1.73,0,3.36-0.44,4.78-1.22 l-1.5-1.5C14.28,19.74,13.17,20,12,20z M19,15h-3v2h3v3h2v-3h3v-2h-3v-3h-2V15z" /></svg>
                    </a>
                </li>
                <li>
                    <a id="goal" asp-controller="Project" asp-action="ShowGoal" asp-route-id="@ViewBag.projectId" asp-route-nameProject="@ViewBag.nameProject" class="sidebaractive nav-link py-3 border-bottom " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <svg class="adawae" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.24 7.76C15.07 6.59 13.54 6 12 6v6l-4.24 4.24c2.34 2.34 6.14 2.34 8.49 0 2.34-2.34 2.34-6.14-.01-8.48zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" /></svg>
                    </a>
                </li>
                <li>
                    <a id="users" asp-controller="Project" asp-action="ShowUsers" asp-route-id="@ViewBag.projectId" asp-route-nameProject="@ViewBag.nameProject" class="sidebaractive nav-link py-3 border-bottom " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                        <svg class="adawae" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24" /><g><path d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,18H6l0-1.61c0-1.18,0.68-2.26,1.76-2.73 C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C2,12.1,2.9,13,4,13z M5.13,14.1 C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43V18l4.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85 C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1c0.4,0.68,0.63,1.46,0.63,2.29V18l4.5,0V16.43z M12,6c1.66,0,3,1.34,3,3 c0,1.66-1.34,3-3,3s-3-1.34-3-3C9,7.34,10.34,6,12,6z" /></g></svg>
                    </a>
                </li>
                <li>
                    <a id="chart" asp-controller="Project" asp-action="ShowChart" asp-route-id="@ViewBag.projectId" asp-route-nameProject="@ViewBag.nameProject" class="sidebaractive nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        <svg class="adawae" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none" /><path d="M6 10h3v10H6zm0-5h3v4H6zm10 11h3v4h-3zm0-3h3v2h-3zm-5 0h3v7h-3zm0-4h3v3h-3z" /></svg>
                    </a>
                </li>
                <li>
                    <a id="chat" asp-controller="Project" asp-action="ShowChat" asp-route-id="@ViewBag.projectId" asp-route-nameProject="@ViewBag.nameProject" class="sidebaractive nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none" /><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" /></svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top float-end footer text-muted">
        <div class="container">
            &copy; 2022 - TmTracker.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/LoginFile/vendor/bootstrap/js/popper.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
