@model List<ChartListViewModel>
@section css
{
    <link rel="stylesheet" href="~/css/tracker.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,400;1,700&display = swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/todolist/todo.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/sidebarson.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/recordstyle.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/css/charts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #chart {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }
    </style>
}
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js" type="text/javascript"></script>
<script>
        anychart.onDocumentLoad(function () {
            var jsonresult;
            $.get("/Chart/ShowChartResult", { id: @ViewBag.projectId}, function (result) {
                if (result != null) {
                    /*result.*/
                    jsonresult = result;
                    var chart = anychart.fromJson(jsonresult);
                    chart.container('container').draw();
                }
            });
        });
</script>
<div style="display:flex;flex-wrap:wrap">
    <div style="display: flex; flex-direction:column; flex-wrap: wrap; ">
        <div>
            <h4>Проект: @ViewBag.nameProject</h4>
        </div>
        <div id="container" style="width: 500px; height: 400px;"></div>
    </div>
    <div>
        @foreach (var item in Model)
        {
            <div style="display:flex;flex-direction:column; margin-bottom:7px;">
                <h6>@item.GoalName.ToString(): <span> </span></h6>
                <div>
                    @foreach (var user in item.ChartViewModes)
                    {<div style="display:flex;">
                            <div style="margin-right:4px">@user.UserName.ToString(): </div>
                            <div> @user.Time</div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/sidebars.js"></script>
    <script src="~/todolist/todo.js" asp-append-version="true"></script>
    <script src="~/js/timer.js" asp-append-version="true"></script>
}
